
@{
    ViewBag.Title = "List";
}

@if (Model.Count == 0)
{
    @*<span class="alert alert-info">No data found</span>*@
    <h1>No data found</h1>
}
else
{
    <h2>List</h2>
    <a href="@Url.Action("Create", "Student")" class="btn btn-primary my-3">Student Create</a>
    <a href="@Url.Action("Create", "Department")" class="btn btn-info my-3">Department Create</a>
    <a href="@Url.Action("Create", "Course")" class="btn btn-dark my-3">Course Create</a>
    <a class="btn btn-dark" href="@Url.Action("All", "University")">Universities</a>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <th>ID</th>
        <th>Name</th>
        <th>CGPA</th>
        <th>Action</th>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.id</td>
                    <td>@student.name</td>
                    <td>@student.cgpa</td>
                    <td>
                        <a href="@Url.Action("Details", "Student", new { id = student.id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Edit", "Student", new { id = student.id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Delete", "Student", new { id = student.id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
